<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine on
  RewriteRule ^$ public/ [L]

  RewriteCond %{REQUEST_URI}  !(\.css|\.js|\.ico|\.jpeg|\.jpg|\.pdf|\.png|\.json|\.mp4)$
  RewriteCond %{REQUEST_URI} !/\api/\?
  RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>